.container-signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9EABB2;
}

.content-section-form, .content-section-graph {
    width: 630px;
    height: 700px;
}

.content-section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.content-section-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00067C;
    color: #ffffff;
}




.form-group {
    display: flex;
    flex-direction: column;
    margin: 36px 0;
}

#form-group-button {
    margin-top: 54px; 
}



.section-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section-logo img {
    width: 70%;
}